body{
  width: 100vw;
  /* overflow-x: hidden; */
}
.bgtrans{
  background: rgba(7, 7, 7, 0.114)
}

.animExpand{
  /* transition: 0.3s; */
}
.animExpand:hover{
  transform: scale(1.15);
}

.home_res_card{
  height: 230px;
}
.home_res_player{
  width: 90vw !important;
  margin-top: 20px;
}

.footer_container{
  padding: 20px;
}
.footer_div{
  margin-top: 30px;
}

@media screen and (min-width: 700px) {
  .home_res_container{
    flex-direction: row;
  }

  .home_res_card{
    width: 20%;
    height: 300px;
  }
  .home_res_player{
    margin: 20px;
  }
  .footer_container{
    padding: 60px;
    flex-direction: row;
  }
  .footer_div{
    width: 30%;
    margin-left: 30px;
  }
}